header {

    background-image: url(../Images/backgroundimage.jpg);
    max-width: 100%;
    font-family:'Times New Roman', Times, serif;
    color: lightblue;
    font-size: medium;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}
body{
    background-image:url(../Images/backgroundimage.jpg);
}
/* this is how i styled my menu (class item1)*/
.item1 {
   background-color: black;
    width: 90%;
    height: fit-content;
    text-align: left;
    color: white;
    margin-left: 5%;
    padding-top:2% ;
    padding-bottom: 2%;
    margin-right: 5%;
    padding-left: 1%;
    font-size: 15px;
    float: left;
}
a {background-color:red;
color: black;
}

.image{
    border-radius: 30px;
    border: solid yellowgreen; 
    border-width: 5px; 
    left: 10%;
    top: 8%;
}
body { border-style: groove;
}
button {
    border-radius: 10px;
    font-size: 10px;
   background-color:aliceblue;
   border-color: blue;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:space-around ;
    background-color: blueviolet;
    border-radius: 10%;
    border-style: groove;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr min-content;

    gap: 20px;
    padding-left: 5%;
    padding-right: 2%;
    margin-right: 2%;
    margin-left: 2%;

}

 /*added grid to my items*/   
.item2 {
     width: fit-content;
    color: burlywood;
    padding-left: 5%;
}
.item3 {
    width: fit-content;
    color: black;
    padding-left: 5%;
}
.item4 {
    width: fit-content;
    color: red;
    padding-left: 5%;
}
/*added a form to the footer*/
footer{
    background-color: aquamarine;
    border: dotted;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding-left: 5%;
}
/*code for mobile devices smaller than 60px*/
a{ background-color: orchid;}
 header {
    image-orientation:url(../Images/small.jpg) ;}
    .grid-container{
     font-size: small;
    }

 
/*medium devices (landscape tablets,768 px and up) */
@media only screen and (min-width: 768px) {
    header{
        image-orientation:url(../Images/lesego_medium.jpg);}
    a {background-color: olive;}
 .grid-container {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width :992px) {
    a {background-color:yellow;}
}
 header{
    image-orientation: url(../Images/lesego.jpg);
 }
 .grid-container{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
 }

}
    
}

    
}

