header {
    background-image: url(../Images/backgroundimage.jpg);
    max-width: 100%;
    font-family:'Times New Roman', Times, serif;
    color: lightblue;
    font-size: medium;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}
/* this is how i styled my menu (class item1)*/

.item1 {
    background-color:rgb(231, 154, 52) ;
    width: 190px;
    height: fit-content;
    text-align: left;
    color: white;
    margin-left: 5%;
    padding-top:2% ;
    padding-bottom: 2%;
    margin-right: 1%;
    padding-left: 1%;
    font-size: 20px;
    float: left;
}
a {background-color:red;
color: black;
}

.image{
    border-radius: 30px;
    border: solid yellowgreen; 
    border-width: 5px; 
    left: 10%;
    top: 8%;
}
body { border-style: groove;
}
button {
    border-radius: 10px;
    font-size: 10px;
   background-color:aliceblue;
   border-color: blue;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:space-around ;
    background-color: blueviolet;
    border-radius: 10%;
    border-style: groove;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr min-content;
    background-color: azure;
    

}

 /*added grid to my items*/   
.item2 {
     width: auto;
    color: bisque;
    padding-left: 0%;
}
.item3 {
    width: auto;
    color: black;
    padding-left: 0%;
}
.item4 {
    width: auto;
    color: yellow;
    padding-left: 0%;
}
footer{
    background-color: aquamarine;
    border: dotted;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding-left: 5%;
}